<div class="wrapper">
  <div class="inner border shadow-lg w-auto p-3 mb-5 rounded-lg">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h3>Log in</h3>
    <div class="form-wrapper">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
    <div class="form-wrapper">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? %>
    <div class="checkbox">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class: "checkbox" %>
      <span class="checkmark"></span>
    </div>
    <% end %></br>


    <button class=" btn btn-default text-center">
      <%= f.submit "Log in", class: "form-control"%>
      </buton>
      <% end %>
      <div class="">
        <%= render "devise/shared/links"%>
      </div>
  </div>
</div>