<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-43">
          <h2>Log in</h2>
        </span>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
        <div class="contact100-form-checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end %>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            <%= f.submit "Log in" %>
          </button>
        </div>

        <div class="text-center p-t-46 p-b-20">
          <span class="txt2">
            or sign up using
          </span>
        </div>

        <div class="login100-form-social flex-c-m">
          <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
            <i class="fa fa-facebook-f" aria-hidden="true"></i>
          </a>

          <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </div>
        <% end %>

        <div class="row">
          <%= render "devise/shared/links" %>
        </div>

        <div class="login100-more" style="background-image: url('app/assets/images/bg-01.jpg');">
        </div>
    </div>
  </div>
</div>