<html>
<!DOCTYPE html>

<head>
  <title>GN</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
  <!--===============================================================================================-->
  <%= stylesheet_link_tag 'util', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'animate', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'daterangepicker', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'animsition.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'hamburgers.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'select2.min', media: 'all', 'data-turbolinks-track' => true %>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</head>


<body style="background-color: #e6e6e6;">
  <% if account_signed_in? %>
  <%=render "layouts/account"%>
  <%end%>
  <div class="container" style="padding-top: 5rem;">
    <% if flash.now[:notice]%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%=notice%>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%end%>
    <% if flash.now[:alert]%>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%=alert%>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%end%>

    <div class="container" style="padding-top: 0.5rem;">
      <%= yield %>
    </div>


</body>

</html>