<div class="container">
  <div class="row">
    <div class="col-4">
        <%= profile_picture @account, 200%>
     </div>
       <div class="col-8 text-left">
      <h1><%=@account.full_name%></h1>
      <div class="row">
        <div class="col-2">
          <div class="profil-stat"><%=@account.posts.count%> posts </div>
        </div>
        <div class="col-2">
          <div class="profil-stat"> <%=@account.total_follower%> follower </div>
        </div>
        <div class="col-8">
          <div class="profil-stat"> <%=@account.total_following%> following </div>
        </div>

      </div>
      <div class="row">
        <div class="col-6">
          <%= link_to "Edit profil", edit_account_registration_path, class: "btn btn-secondary" if can_edit_profil?(@account.id)%>

        </div>

      </div>



        <p>
        <strong>Description:</strong>  <%= simple_format @account.description%>

          <%= link_to @account.website if @account.website.present?%>
        </p>

    </div>
  </div>
</div>

<div class="row profil-post">
  <% @posts.each do |post|%>
    <div class="col-4">
      <div class="insta-post">
        <%= link_to image_tag(post.image.url,class:"img img-fluid"),post_path(post)%>
      </div>
    </div>
    <%end%>
  </div>

</div>
